/* responsive */
@media (max-width: 1399px) {
    .logo {
        margin: 0 40px;
    }
    .menu-toggle {
        left: 38px;
    }
    .header-user,
    .header-login {
        right: 38px;
    }
    .menu-block {
        padding: 0 38px;
    }
    .menu-close {
        left: 34px;
    }
}
@include media-breakpoint-down(lg) {
    .container-fluid,
    .container {
        padding-left: 75px;
        padding-right: 75px;
    }
    .wrap {
        padding-left: 0;
        padding-right: 0;
    }
    .desktop-margin-0 {
        margin: 0 -15px;
    }
    .logo {
        margin: 0;
    }
    .menu-toggle,
    .menu-close {
        top: 48px;
    }
    .menu {
        li {
            font-size: 24px;
            margin-bottom: 54px;
        }
    }
    .menu-apply {
        font-size: 24px;
    }
    .menu-block {
        .header-user {
            top: 27px;
        }
        .header-login {
            top: 38px;
        }
        .header-user-avatar {
            border-color: rgba(0, 0, 0, 0.15);
        }
        .header-user-name,
        .header-user-info,
        .header-login-title {
            color: $b;
        }
        .header-user-info-arrow,
        .header-login-arrow {
            .svg-stroke {
                stroke: $p;
            }
        }
    }
    .hero-content {
        padding-top: 65px;
        padding-bottom: 76px;
    }
    .hero-title,
    .hero-title h1 {
        letter-spacing: 3.2px;
    }
    .footer-copyright {
        padding-top: 15px;
    }
    .footer-title {
        margin-bottom: 8px;
    }
    .footer-newsletter {
        padding-top: 21px;
    }
    .article {
        padding-top: 38px;
    }
    .article-info {
        padding-bottom: 23px;
        margin-bottom: 58px;
    }
    .article-info-items {
        margin-left: -44px;
    }
    .article-info-item {
        margin-left: 44px;
        letter-spacing: 0;
        strong {
            letter-spacing: 0;
        }
    }
    .wysiwyg {
        figure {
            margin-left: -75px;
            margin-right: -75px;
        }
        figcaption {
            padding-left: 75px;
            padding-right: 75px;
        }
        hr {
            height: 28px;
        }
    }
    .article-row {
        margin: 0 -75px;
        figure {
            margin-left: 0;
            margin-right: 0;
        }
        figcaption {
            padding-left: 15px;
        }
    }
    .article-col {
        &:first-child {
            figcaption {
                padding-left: 75px;
                padding-right: 15px;
            }
        }
    }
    .articles,
    .event-other {
        padding-bottom: 0;
        h3 {
            padding: 0;
        }
    }
    .articles-slider-wrapper,
    .event-other-wrapper {
        .swiper-container {
            overflow: visible;
        }
    }
    .slider-nav {
        display: block;
    }
    .articles-item,
    .event-other-item {
        padding: 0;
    }
    .event {
        padding-top: 68px;
    }
    .event-info-date {
        padding-top: 3px;
        margin-bottom: 13px;
        font-size: 29px;
        sup {
            font-size: 9px;
            line-height: 1.6;
            margin-left: 5px;
            margin-right: 27px;
        }
    }
    .event-info-date-dash {
        display: none;
    }
    .event-detail {
        padding-top: 0;
    }
    .event-source {
        padding-top: 0;
        margin-bottom: 17px;
    }
    .event-desc {
        padding-top: 46px;
        margin-bottom: 36px;
    }
    .event-button-wrap {
        float: right;
        margin-bottom: 0;
        padding-top: 55px;
    }
    .event-share {
        float: left;
        margin-bottom: 0;
        padding-top: 9px;
    }
    .registration-page {
        .header-push {
            display: none;
        }
        .menu-toggle-ico {
            background-color: $b;
            &:before,
            &:after {
                background-color: $b;
            }
        }
    }
    .registration-page-bg {
        display: none;
    }
    .registration {
        padding: 0;
    }
    .registration-block {
        padding: 182px 75px 100px;
        max-width: none;
        width: auto;
        margin: 0;
        @include box-shadow(none);
    }
    .registration-content {
        max-width: none;
        width: auto;
        margin: 0;
    }
    .input-text-wrapper.big,
    .registration-form-confirm {
        .input-error {
            right: -48px;
        }
    }
    .registration-done {
        padding: 35px 0 59px;
    }
    .preview-options {
        margin-bottom: 47px;
    }
    a.preview-cancel {
        margin-top: 80px;
    }
    .preview-options-left {
        min-width: 0;
        text-align: center;
    }
    a.preview-edit {
        float: none;
        margin-top: 0;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 32px;
    }
    .preview-publish {
        float: none;
    }
    .cabinet-intro-img {
        height: auto;
        padding-top: 45px;
        max-width: 260px;
    }
    .cabinet-intro-info {
        margin-bottom: 35px;
    }
    .cabinet-intro-info-cell {
        height: 185px;
        padding-bottom: 28px;
    }
    .cabinet-intro-name {
        font-size: 32px;
        line-height: 1.3125;
        margin-bottom: 18px;
    }
    .cabinet-intro-status {
        font-size: 20px;
    }
    .cabinet-menu-wrapper {
        margin-top: -60px;
    }
    .cabinet-menu {
        padding: 23px 0 23px 40%;
        margin-left: -40%;
        li {
            padding: 30px 40px 22px;
            a {
                padding-left: 38px;
                font-size: 16px;
                line-height: 1.25;
                letter-spacing: 0.4px;
            }
            .line-active {
                left: 38px;
            }
        }
    }
    .cabinet-menu-info {
        top: 0;
        width: 27px;
        height: 19px;
    }
    .cabinet-menu-event {
        left: 4px;
        top: 0;
        width: 21px;
        height: 20px;
    }
    .cabinet-events {
        margin-bottom: 25px;
    }
    .cabinet-event {
        padding: 6px 0 57px;
        margin-bottom: 35px;
    }
    .cabinet-event-date {
        width: 21%;
        padding-right: 10px;
    }
    .cabinet-event-info {
        width: 79%;
        padding-right: 0;
    }
    .cabinet-event-title {
        float: none;
        width: auto;
        padding-top: 4px;
    }
    .cabinet-event-options {
        float: none;
        margin-right: 0;
        padding-top: 32px;
    }
}
@include media-breakpoint-down(md) {
    .cabinet-intro,
    .cabinet-menu-wrapper,
    .cabinet-events,
    .cabinet-info {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .cabinet-menu {
        li {
            padding: 30px 15px 22px;
        }
    }
    .cabinet-info-edit {
        padding-top: 4px;
        margin-bottom: 60px;
    }
    .cabinet-info-block {
        padding: 6px 0 24px;
        margin-bottom: 51px;
    }
    .cabinet-info-type {
        padding-left: 0;
        h4 {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 1.2px;
        }
    }
    .cabinet-info-content {
        padding-top: 0;
    }
    .cabinet-info-col {
        width: 100%;
    }
}
@include media-breakpoint-down(sm) {
    .main {
        padding-bottom: 0;
        background-position: 50% 100%;
    }
    footer {
        margin-top: 0;
        height: auto;
        padding-bottom: 50px;
    }
    .footer-newsletter-button {
        float: left;
    }
    .footer-copyright {
        padding-top: 25px;
    }
    .footer-title {
        margin-bottom: 26px;
    }
    .footer-newsletter {
        padding-top: 14px;
    }
    .container-fluid,
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu-toggle {
        left: 20px;
    }
    .menu-block {
        padding: 0 20px;
        .header-user,
        .header-login {
            right: 20px;
        }
        .header-user-link,
        .header-login-button {
            @include transform(translate3d(0, 0, 0));
        }
    }
    .menu-close {
        left: 16px;
    }
    .menu {
        li {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
    .hero-content {
        padding-bottom: 50px;
    }
    .hero-back {
        margin-bottom: 37px;
    }
    .hero-title {
        margin-bottom: 29px;
    }
    .hero-title,
    .hero-title h1 {
        font: 40px/1.35 $ff;
    }
    .hero-info {
        font: 300 17px/2.12 $ff;
        text-align: left;
        letter-spacing: 0.8px;
    }
    .article {
        padding-top: 22px;
    }
    .article-info {
        padding-bottom: 33px;
        margin-bottom: 32px;
    }
    .article-info-items {
        margin-left: 0;
    }
    .article-info-item {
        float: none;
        margin-left: 0;
        font-size: 14px;
        line-height: 1.786;
        strong {
            font: 14px/1.786 $ff;
        }
    }
    .wysiwyg {
        h2 {
            font-family: $ff;
            font-size: 26px;
            line-height: 1.85;
            letter-spacing: 2px;
            margin-bottom: 23px;
        }
        p {
            font-size: 17px;
            line-height: 2.12;
        }
        figure {
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: 46px;
            img {
                margin-bottom: 16px;
            }
        }
        figcaption {
            padding-left: 20px;
            padding-right: 20px;
            line-height: 1;
        }
        blockquote {
            padding-top: 20px;
            p {
                font-family: $ff;
                margin-bottom: 32px;
            }
            em {
                margin-bottom: 23px;
            }
        }
        hr {
            height: 0;
            margin-bottom: 50px;
        }
    }
    .quote {
        margin-left: -20px;
        margin-right: -20px;
    }
    .quote-line {
        &:before,
        &:after {
            width: 34%;
        }
    }
    .article-row {
        margin: 0 -20px;
        figure {
            margin-left: 0;
            margin-right: 0;
        }
        figcaption {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .article-col {
        float: none;
        width: auto;
        &:first-child {
            figcaption {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .event {
        padding-top: 71px;
    }
    .event-info {
        padding-bottom: 40px;
    }
    .event-info-all-button {
        text-align: center;
        margin-bottom: 40px;
    }
    .event-info-date {
        margin-bottom: 22px;
    }
    .event-info-title,
    .event-info-title h1 {
        font: 30px/1.2 $ff;
        letter-spacing: 0;
    }
    .event-detail {
        p {
            font-size: 18px;
            line-height: 1.33;
        }
    }
    .event-leader {
        padding-top: 36px;
    }
    .event-leader-img {
        float: none;
        margin-right: 0;
    }
    .event-leader-info {
        padding-top: 27px;
    }
    .event-desc {
        padding-top: 60px;
        margin-bottom: 58px;
        p {
            font-size: 16px;
            line-height: 2.25;
        }
    }
    .event-button-wrap {
        float: none;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 30px;
    }
    .event-share {
        float: none;
        text-align: center;
    }
    ul.event-social {
        display: inline-block;
        vertical-align: top;
    }
    .event-other-item-img-wrapper {
        height: 387px;
    }
    a.event-other-item-link {
        .arrow {
            left: 32px;
        }
    }
    .event-other-item-content {
        left: 32px;
        right: 32px;
        top: 27px;
    }
    .event-other-item-date {
        float: none;
        font-size: 41px;
        margin-bottom: 12px;
        sup {
            font-size: 11px;
            margin-left: 8px;
        }
    }
    .event-other-item-place {
        float: none;
        margin-bottom: 7px;
    }
    .event-other-item-title {
        font-family: $ff;
        font-weight: normal;
        max-height: 180px;
    }
    .modal {
        width: 300px;
        padding: 53px 15px 15px;
        &.modal-wide,
        &.modal-wide-800 {
            width: 400px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .close {
        right: 9px;
        top: 9px;
    }
    .modal-title {
        margin-bottom: 6px;
    }
    .input-text-wrapper {
        margin-bottom: 13px;
    }
    .input-error {
        right: 10px;
        bottom: 12px;
    }
    input.input-text {
        height: 47px;
        padding-top: 11px;
        padding-bottom: 8px;
    }
    textarea.textarea {
        height: 100px;
    }
    a.button,
    input.button,
    button.button {
        height: 54px;
        min-width: 0;
        width: 100%;
        padding-top: 11px;
        padding-bottom: 7px;
        &.big {
            width: auto;
        }
    }
    .modal-forgot-password {
        margin-top: -5px;
        margin-bottom: 33px;
    }
    .modal-save-password {
        margin-bottom: 16px;
    }
    .modal-bottom {
        padding-top: 10px;
    }
    .modal-button {
        float: none;
        margin-bottom: 27px;
    }
    .modal-apply {
        float: none;
        margin-top: 0;
        margin-right: 0;
        text-align: center;
    }
    .modal-feedback-success {
        padding: 40px 0 64px;
    }
    .modal-feedback-user {
        padding-top: 12px;
        padding-bottom: 21px;
    }
    .modal-event {
        padding: 20px 0 50px;
    }
    .modal-event-info {
        font-size: 22px;
        margin-bottom: 50px;
        strong {
            font-size: 24px;
        }
    }
    a.modal-event-button {
        letter-spacing: 0.5px;
    }
    .registration-block {
        padding: 191px 20px 65px;
    }
    .registration-caption {
        h1 {
            font-size: 28px;
            letter-spacing: 1.2px;
            margin-bottom: 29px;
        }
    }
    .registration-type-block {
        padding: 26px 30px 30px 0;
        &:before {
            left: -20px;
            right: -20px;
        }
    }
    .registration-type-check {
        right: 0;
        top: 30px;
    }
    .registration-type-caption {
        font-size: 24px;
        line-height: 1.67;
        margin-bottom: 15px;
    }
    .input-text-wrapper.big {
        margin-bottom: 23px;
        .input-error {
            right: 10px;
        }
    }
    .registration-form-confirm {
        padding-bottom: 0;
        .input-error {
            right: 10px;
        }
        .checkbox.big {
            label {
                padding-right: 30px;
                padding-left: 40px;
                letter-spacing: 0;
            }
        }
    }
    .registration-form-error {
        padding-bottom: 0;
    }
    .registration-done {
        padding: 16px 0 12px;
    }
    .registration-select {
        float: none;
        margin-right: 0;
        margin-bottom: 26px;
        width: auto;
        .input-error {
            bottom: auto !important;
            top: 10px;
        }
    }
    .preview-title {
        font-size: 17px;
        letter-spacing: 0.5px;
    }
    a.preview-cancel {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 32px;
    }
    .preview-options-left {
        float: none;
        text-align: left;
    }
    a.preview-edit {
        margin-left: 6px;
        margin-bottom: 46px;
    }
    .modal-event-cancel-title {
        font-size: 22px;
    }
    .modal-event-cancel {
        padding-bottom: 40px;
    }
    .edit-options {
        margin: 0;
    }
    .edit-option {
        float: none;
        width: auto;
        padding: 0 0 20px;
    }
    .edit-menu {
        margin: 0 -10px;
        li {
            margin: 0 10px;
            a {
                font-size: 16px;
                letter-spacing: 0;
            }
        }
    }
    .cabinet-intro-img {
        padding-top: 55px;
        max-width: 125px;
        margin: 0 auto 31px;
    }
    .cabinet-intro-info {
        display: block;
        margin-bottom: 0;
        text-align: center;
    }
    .cabinet-intro-info-cell {
        display: block;
        vertical-align: top;
        height: auto;
        padding-bottom: 29px;
    }
    .cabinet-menu-wrapper {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .cabinet-menu {
        padding: 45px 10px 29px;
        margin: 0 -20px;
        text-align: center;
        li {
            float: none;
            display: inline-block;
            vertical-align: top;
            padding: 0 10px;
            border-left: 0;
            &:first-child {
                padding-left: 10px;
            }
            a {
                padding-left: 0;
            }
            .line-active {
                left: 0;
            }
        }
    }
    .cabinet-menu-info,
    .cabinet-menu-event {
        display: none;
    }
    .cabinet-event {
        padding: 26px 0 25px;
        margin-bottom: 29px;
    }
    .cabinet-event-date {
        float: none;
        width: auto;
        padding-top: 0;
        padding-right: 0;
        margin-bottom: 18px;
    }
    .cabinet-event-info {
        float: none;
        width: auto;
    }
    .cabinet-event-title-link {
        .arrow {
            display: none;
        }
    }
    .cabinet-event-options {
        width: auto;
        padding-top: 23px;
    }
    a.cabinet-event-participate {
        margin-bottom: 37px;
        &:hover {
            border-color: rgba(199, 93, 118, 0.25);
            .cabinet-event-participate-text {
                display: block;
            }
        }
        &.cabinet-event-noparticipate {
            .cabinet-event-participate-text {
                display: block;
            }
            &:hover {
                border-color: $w;
            }
        }
    }
    a.cabinet-event-participate.cabinet-event-noparticipate + .cabinet-event-cancel {
        display: none;
    }
    .cabinet-info-edit {
        padding-left: 0;
        padding-top: 29px;
        a.big {
            min-width: 0;
            width: 100%;
        }
    }
    .cabinet-info-edit-in {
        padding-left: 0;
    }
    .cabinet-info-block {
        padding-top: 29px;
        margin-bottom: 26px;
    }
    .cabinet-info-type,
    .cabinet-info-content,
    .cabinet-info-col,
    .cabinet-info-col-x2 {
        float: none;
        width: auto;
        padding-left: 0;
    }
    .cabinet-info-type {
        h4 {
            margin-bottom: 32px;
        }
    }
}